/* -------------Responsive For Mobile---------------- */
/* <!-- ---------------------Navbar Start Here--------------------- --> */
@media screen and (max-width : 576px) {
          .section-2 {
                    flex-direction: column;
          }

          nav {
                    flex-direction: column;
                    margin: auto;
          }

          .section-2 a,
          .follow-btn {
                    margin-bottom: 20px;
          }

          .section-1 {
                    margin: 20px 35px 0px 30px;
                    size: 50px;
          }

          /* <!-- ---------------------Banner-1 Start Here------------------- --> */
          .banner-container-1 {
                    display: flex;
                    flex-direction: column-reverse;


          }

          .section-1-banner-1 {
                    width: 1000%;
                    border: 2px solid red;
                    align-items: center;
                    size: 50%;


          }

          /* <!-- ---------------------Banner-2 Start Here------------------- --> */
          .banner-2-container {
                    display: flex;
                    flex-direction: column;

          }

          .ban-2-sec-1 {
                    width: 100%;
          }

          .ban-2-sec-2 {
                    width: 100%;
          }
          .online-games-header {
                    display: flex;
                    flex-direction: column;
          }
         
          .online-games-1 {
                    width: 100%;
          }
}