 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,300;1,400&display=swap');

 * {
           font-family: 'Work Sans', sans-serif;
 }

 /* <!-- ---------------------Navbar Start Here--------------------- --> */
 nav {
           display: flex;
           justify-content: space-between;
           background: #FFF;
           box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
           margin: 0 auto 5px;

 }

 .section-1 {
           display: flex;
           justify-content: center;
           padding: 50px auto 50px;
           margin-left: 40px;

 }

 .nav-img {
           height: 1px;
           width: 1px;
           padding-top: 50px;
           margin-right: 100px;
           align-content: center;
 }

 .section-1 h1 {
           text-align: center;
           font-size: 45px;
           font-weight: 700px;

 }

 .gamer {
           color: #FF42A5;
 }

 .section-2 {
           display: flex;
           align-items: center;
           justify-content: space-between;
           /* padding-left: 50px;
           padding-right: 20px; */
 }

 .section-2 a,
 .follow-btn {
           text-decoration: none;
           size: 40px;
           margin-right: 20px;
 }

 .follow-btn {
           width: 150px;
           height: 40px;
           flex-shrink: 0;
           border-radius: 8px;
           background-color: rgba(11, 2, 35, 0.10);
           border: none;
 }

 /* <!-- ---------------------Navbar End Here----------------------- --> */





 /* <!-- ---------------------Banner-1 Start Here------------------- --> */
 .banner-container-1 {
           display: flex;
           margin: 0 auto o;
           padding: 0 auto 0;
           width: auto;
           overflow-x: hidden;

 }

 .section-1-banner-1 {
           width: 50%;
           height: 50%;
 }

 .play-got {
           /* 
           border: 3px solid rgba(146, 115, 169, 0.717); */
           height: 180px;
           display: flex;
           flex-direction: column;

 }

 .banner-text h3 {
           color: #0B0223;
           text-align: center;
           ;
           font-size: 48px;
           font-weight: 600;
           text-transform: uppercase;
           margin-bottom: 1px;
           /* border: 3px solid red; */

 }

 .banner-text h1 {
           text-align: center;
           font-size: 60px;
           font-weight: 800;
           background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
           background-clip: text;
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
           /* border: 3px solid red; */
           margin-top: 1px;
 }

 .section-2-banner-1 {

           height: 50%;
           width: 50%;


 }

 .para-text {
           display: flex;
           flex-direction: column;
           justify-content: center;
           color: #534C64;
           text-align: start;
           font-size: 20px;
           font-weight: 500;
           text-transform: lowercase;
 }

 .para-text p {

           margin: 0 auto 30px;
 }

 .banner-button {
           display: flex;
           flex-direction: row;
           justify-content: center;
           /* border: 3px solid red; */
 }

 .banner-button .button-1 {
           display: inline-flex;
           padding: 21px 40px;
           font-weight: 700;
           font-size: 20px;
           color: #FFF;
           align-items: flex-start;
           gap: 10px;
           border-radius: 48px;
           background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
           border: none;
           margin-right: 30px;
 }

 .banner-button .button-2 {
           color: #FFF;
           font-size: 20px;
           font-style: normal;
           font-weight: 600;
           text-transform: uppercase;
           display: inline-flex;
           padding: 21px 40px;
           align-items: flex-start;
           gap: 10px;
           border-radius: 48px;
           background: #4EC5F7;
           border: none;
 }

 /* <!-- ---------------------Banner-1 End Here--------------------- --> */
 /* <!-- ---------------------Banner-2 Start Here------------------- --> */
 .banner-2-container {
           display: flex;
           flex-direction: row;
           justify-content: space-evenly;
           align-items: center;
           background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
 }

 .ban-2-sec-1 {
           width: 50%;
 }

 .ban-2-sec-2 {
           width: 50%;
 }

 .ban-2-sec-2 h1 {
           text-align: right;
           font-size: 48px;
           font-weight: 700;
           background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
           background-clip: text;
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
 }

 .ban-2-sec-2 p {
           color: #534C64;
           text-align: right;
           font-size: 19px;
           font-weight: 400;
 }

 .button-container {
           display: flex;
           justify-content: flex-end;
 }

 .know-more {
           color: #FFF;
           padding: 21px 40px;
           align-items: flex-end;
           gap: 10px;
           border-radius: 48px;
           background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
           border: none;

 }

 .our-purpose {
           color: #534C64;
           text-align: right;
           font-family: Work Sans;
           font-size: 24px;
           font-style: normal;
           font-weight: 500;
           line-height: 45px;
           /* 187.5% */
 }

 .unleash {
           color: #534C64;
           text-align: right;
           font-size: 30px;
           font-weight: 800;

 }

 /* <!-- ---------------------Banner-2 End Here--------------------- --> */
 /* <!-- ---------------------Online Games Start Here--------------- --> */

 .online-games-headline h1 {
           color: #0B0223;
           text-align: center;
           font-size: 48px;
           font-weight: 700;
 }

 .funny-videos {
           background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
           background-clip: text;
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
           font-size: 48px;
           font-weight: 700;
 }

 .online-games-headline {
           color: #534C64;
           text-align: center;
           font-size: 18px;
           font-weight: 400;
 }

 online-games-img {
           border-radius: 16px;
 }

 .online-games-header {
           display: flex;
           flex-direction: row;
           justify-content: center;
           align-items: center;
           gap: 10px;
           padding: 10px auto 10px;
 }

 .online-games-1 {
           width: 25%;
 }

 /* <!-- ---------------------Online Games End Here----------------- --> */

 /* <!-- ------------Play Instantly Banner Start Here--------------- --> */
 .play-instantly {
           display: flex;
           flex-direction: row;
           margin: 50px auto 50px;
 }

 .play-instantly-title {
           /* border: 2px solid red; */
           width: 50%;
           align-items: center;
           padding-top: 200px;
 }

 .play-instantly-img {
           /* border: 2px solid red; */
           display: flex;
           justify-content: center;
           align-items: center;
           width: 50%;
 }

 .play-instantly-text {
           /* text-align: right; */
           font-size: 48px;
           font-weight: 700;
           line-height: 60px;
           text-align: center;

 }

 .play-instantly .para {
           /* display: flex;
           justify-content: center; */
           text-align: center;
 }

 .play-instantly-text span {

           background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
           background-clip: text;
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
 }




 /* <!-- ------------Play Instantly Banner End Here----------------- --> */

 /* <!-- ---------------------Link Section Start Here--------------- --> */
 .hover-section {
           margin-top: 140px;
           margin-bottom: 118px;
 }

 .hover-container {
           gap: 6px;
 }

 .hover-container .btn {
           color: #0B0223;
           font-size: 10px;
           font-weight: 600;
           align-items: center;
           gap: 5px;
           flex-basis: 31%;

 }

 .hover-container{
     display: grid;
     grid-template-columns: repeat(5 ,1fr);
 }

 .btn-img {
           width: 30px;
 }

 /* <!-- ---------------------Link Section End Here----------------- --> */

 /* <!-- ---------------------Footer Start Here--------------------- --> */
 footer {
           background-color: #0B0223;

 }

 footer .section-1 h1 {
           text-align: center;
           font-size: 45px;
           font-weight: 700px;
           color: #FFF;
 }

 .gamer {
           color: #FF42A5;
 }

 footer .section-1 {
           padding-top: 20px;
 }

 .a-link {
           text-decoration: none;
           color: #FFF;
 }

 .section-22 {
           /* border: 2px solid rebeccapurple; */
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           padding: 10px 50px 10px;
           margin: 0 400px 20px;
 }

 .term-link {
           text-decoration: none;

           color: rgba(255, 255, 255, 0.60);
           text-align: center;
           font-size: 16px;
           font-weight: 500;
 }

 .section-23 div {
           color: rgba(255, 255, 255, 0.60);
           text-align: center;
           font-size: 16px;
           font-weight: 500;
           margin: 10px auto 80px;
 }

 /* <!-- ---------------------Footer End Here----------------------- --> */